<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}

        {% endblock %}
    </title>

    {% block stylesheets %}

        <link rel="icon" type="image/png" href="{{ asset('template/login/images/icons/icon3.png') }}"/>

        <!-- Custom fonts for this template-->
        <link href="{{ asset('template/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="{{ asset('template/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

        <!-- Select-->
        <link href="{{ asset('template/login/vendor/select2/select2.min.css') }}" rel="stylesheet">

        <!-- SweetAlert2 -->
        {#<link rel="stylesheet" href="{{ asset('template/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">#}

        <!-- Custom styles for this template-->
        <link href="{{ asset('template/css/sb-admin.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('template/styles.css') }}" rel="stylesheet">

    {% endblock %}

</head>

<body id="page-top" onload="getTime()">

<nav class="navbar navbar-expand navbar-dark header-color static-top">

    <a class="navbar-brand mr-1" href="{{ path('homepage') }}">Roulette</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    {% block header %}

        {% include('template/header.html.twig') %}


    {% endblock %}

</nav>

{#<div class="se-pre-con"></div>#}

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav sidebar-color">

        {% block sidemenu %}

            {% include('template/sidemenu.html.twig') %}


        {% endblock %}
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            {% block bredcrumb %}
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a href="{{ path('homepage') }}"><img
                                            src="{{ asset('template/login/images/icons/payeer.png') }}" width="17"
                                            data-toggle="tooltip" data-placement="" title=""
                                            data-original-title=""> {{ app.session.get('idPayeer') }}</a>
                            </div>


                        </div>

                    </li>

                </ol>
            {% endblock %}
            <div class="col-md-12 pull-left">

                <label for="" style="font-size: 20px">Mon Solde : </label>
                <label for="" style="color: green">{{ app.session.get('soldeClient')|number_format(2, ',', '.') }} $</label>
            </div>
            <!-- Page Content -->
            <label for="">&nbsp;</label>

            <div class="col-md-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class=" alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <!-- Main content -->
            {% block content %}




            {% endblock %}

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->

        {% block footer %}

            {{ include('template/footeur.html.twig') }}

        {% endblock %}

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% block javascripts %}
<!-- Bootstrap core JavaScript-->
<script src="{{ asset('template/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('template/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('template/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('template/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('template/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- SweetAlert2 -->
{#<script src="{{ asset('template/sweetalert2/sweetalert2.min.js') }}"></script>#}

<!-- Core plugin JavaScript-->
<script src="{{ asset('template/login/vendor/select2/select2.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('template/js/sb-admin.min.js') }}"></script>

<!-- notify -->
<script src="{{ asset('template/notify/js/notify.min.js') }}"></script>

<!-- sweetalert -->
{#<script src="{{ asset('template/sweetalert/js/sweetalert.all.js') }}"></script>#}

<script>

    // $(window).load(function () {
    //     // Animate loader off screen
    //     setTimeout(function () {
    //         $(".se-pre-con").fadeOut("slow");
    //     }, 1000);
    //     //$(".se-pre-con").fadeOut("2000");
    // });

    // const swalWithBootstrapButtons = Swal.mixin({
    //     customClass: {
    //         confirmButton: 'btn btn-success',
    //         cancelButton: 'btn btn-danger'
    //     },
    //     buttonsStyling: false
    // });

    //combo
    $('.select2').select2()


    // //toast
    // const Toast = Swal.mixin({
    //     toast: true,
    //     position: 'top-end',
    //     showConfirmButton: false,
    //     timer: 3000
    // });

    function getTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('showtime').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout(function () {
            getTime()
        }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
</script>

</body>

</html>
{% endblock %}
