.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loaderanimation/images/loader-32x/loader5.gif') center no-repeat #fff;
}


.select2-container--default .select2-selection--single{

    height: 33px !important;
}

.header-color{
    background-color: #3781cc!important;
}
.sidebar-color{
    background-color: #cfd2d6!important;
}

