{% extends ':tirage:template.html.twig' %}



{% block content %}


    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Liste des tirages en cours
            <a href="{{ path('tirage_new') }}" class="btn btn-primary" style="">Créer un nouveau tirage</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablelistetirage" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="">N° Tirage</th>
                        <th>Cout tirage</th>
                        <th>Nbr numero</th>
                        <th>Nbr numero Gagnant</th>
                        <th>Etat tirage</th>
                        <th>Date tirage</th>
                        {#<th>Actions</th>#}
                    </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignetirage">
                    {% for tirage in tirages %}
                        <tr>
                            <td>#{{ tirage.id }}</td>
                            <td>{{ tirage.coutTirage }}</td>
                            <td>{{ tirage.nbrNumero }}</td>
                            <td>{{ tirage.nbrNumeroGagnant }}</td>
                            <td>{{ tirage.etatTirage }}</td>
                            <td>{% if tirage.dateTirage %}{{ tirage.dateTirage|date('Y-m-d H:i:s') }}{% endif %}</td>
                            {#<td>#}
                                {#<ul>#}
                                    {#<li>#}
                                        {#<a href="{{ path('tirage_show', { 'id': tirage.id }) }}">show</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="{{ path('tirage_edit', { 'id': tirage.id }) }}">edit</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>

    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
