
{% extends ':tirage:template.html.twig' %}



{% block content %}


    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Ajout de tirage
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.coutTirage ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.nbrNumero ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <input class="btn btn-success" type="submit" value="Create" />
                <a type="button" class="form-group btn btn-danger" href="{{ path('tirage_index') }}">Retour a la liste</a>
            </div>
        </div>


        {{ form_end(form) }}


    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>

    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}


