{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tirage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tirage.id }}</td>
            </tr>
            <tr>
                <th>Couttirage</th>
                <td>{{ tirage.coutTirage }}</td>
            </tr>
            <tr>
                <th>Nbrnumero</th>
                <td>{{ tirage.nbrNumero }}</td>
            </tr>
            <tr>
                <th>Etattirage</th>
                <td>{{ tirage.etatTirage }}</td>
            </tr>
            <tr>
                <th>Datetirage</th>
                <td>{% if tirage.dateTirage %}{{ tirage.dateTirage|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tirage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tirage_edit', { 'id': tirage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
