{% extends 'base.html.twig' %}

{% block title %}
    Roulette | Accueil
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    {#<script>#}
        {#$(".menu").addClass('active');#}
    {#</script>#}
{% endblock %}