{% extends ':dashboard:template.html.twig' %}



{% block bredcrumb %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Accueil</a>
        </li>
        <li class="breadcrumb-item active">Accueil</li>
    </ol>
{% endblock %}
{% block content %}

    <h1 style="text-align: center; color: #0b3e6f">
             {{ app.session.get('nom') }}
        {#BIENVENUE {{ app.session.get('fonction') | upper }} {{ app.session.get('nom') }}#}
    </h1>
    </br>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5"> Entrée en stock</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Faire une entrée en stock</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">Vente</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Vendre</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5"> Articles</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Gérer</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-life-ring"></i>
                    </div>
                    <div class="mr-5"> Catégories</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Gérer</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
    </div>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-user"></i>
                    </div>
                    <div class="mr-5"> Client</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Consulter</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-black bg-white o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-cube"></i>
                    </div>
                    <div class="mr-5"> Fournisseur</div>
                </div>
                <a class="card-footer text-black clearfix small z-1" href="">
                    <span class="float-left">Consulter</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>

    </div>



    {#<div id="contenu">#}

    {#</div>#}


{% endblock %}



{% block javascripts %}
    {{ parent() }}


    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
