<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Roulette | Se Connecter</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('template/login/images/icons/icon3.png') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('template/login/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/login/css/main.css') }}">
    <!--===============================================================================================-->


</head>

<body onload="getTime()">
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title"
                 style="background-image: url({{ asset('template/login/images/bg-01.jpg') }});">
					<span class="login100-form-title-1">
						Connectez-vous !
					</span>
            </div>

            <form class="login100-form validate-form" action="{{ path('login') }}" method="post">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Identifiant Payeer Requis">
                    {#<span class="label-input100">Identifiant Payeer</span>#}
                    <span class="label-input100"><img src="{{ asset('template/login/images/icons/payeer.png') }}"
                                                      width="35" data-toggle="tooltip" data-placement="right" title=""
                                                      data-original-title=""></span>
                    <input class="input100" type="text" required name="idpayeer" placeholder="Enter l'identifiant payeer">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26" data-validate="Pin">
                    {#<span class="label-input100">Identifiant Payeer</span>#}

                    <span class="label-input100">Password :</span>
                    <input class="input100" required type="password" name="pin" placeholder="Enter votre password | Définissez en un">
                    <span class="focus-input100"></span>

                </div>
                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">

                        <div class="centered" style="text-align: center"><b style="color: red">{{ error }}</b></div>
                    </div>

                    <div>
                        <hr>
                        <div id="showtime" style="color: blue"></div>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Debuter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="{{ asset('template/login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>

<!--===============================================================================================-->
<script src="{{ asset('template/login/js/main.js') }}"></script>
{#<!--BACKSTRETCH-->#}
{#<script src="{{ asset('template/login/js/jquery.backstretch.min.js') }}"></script>#}

{#<script>#}
{#$.backstretch("../template/", {#}
{#speed: 500#}
{#});#}
{#</script>#}
<script>
    function getTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('showtime').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout(function () {
            getTime()
        }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
</script>
</body>

</html>

