{% extends ':visitor:template.html.twig' %}




{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">FAQs Questions fréquemment posées</h4>
                <div id="accordionFAQs" role="tablist" class="minimal-faq" aria-multiselectable="true">
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ1">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ1" aria-expanded="false" aria-controls="collapseFAQ1" class="collapsed">
                                    Q1. Qu'est-ce qui rend le service de tirage GreatLuck unique ?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ1" class="collapse" role="tabpanel" aria-labelledby="headingFAQ1" aria-expanded="false" style="">
                            <div class="card-block">
                                Nous accordons une très grande valeur à la transparence. Chez GreatLuck, vous pouvez surveiller et suivre tous les achats de tickets et paiements de tout utilisateur en temps réel à tout moment.</div>
                        </div>
                    </div>
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ2">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ2" aria-expanded="false" aria-controls="collapseFAQ2">
                                    Q2. Comment le profit est-il généré?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ2" class="collapse" role="tabpanel" aria-labelledby="headingFAQ2" aria-expanded="false">
                            <div class="card-block">
                                Dans GreatLuck, vous n'avez pas à signer de contrat. Il n'y a ni créanciers ni débiteurs. En fait, tout est très simple: L'administrateur lance des tirages par jour et vous achetez un ou plusieurs tickets selon la valeur du ticket. Dès que tous les tickets sont achetés le système clôturent le tirage et procede au dépouillement - Un ticket achetez vous assures un taux de tirage de 40%.</div>
                        </div>
                    </div>
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ3">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ3" aria-expanded="false" aria-controls="collapseFAQ3">
                                    Q3. Je veux commencer, comment faire?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ3" class="collapse" role="tabpanel" aria-labelledby="headingFAQ3" aria-expanded="false">
                            <div class="card-block">
                                Par exemple, pour un tirage donné vous achetez un ticket de 1 USD et après clôture et annoncement des résultats 48 heures maximun, votre ticket est tirer ! Vous recevez 2 USD. Si vous prenez deux tickets de 1 USD et les deux sont tirez vous recevez 4 USD. Sur un tirage de 100 tickets 40% des tickets seront tirées gagnants. Donc 40 tickets.</div>
                        </div>
                    </div>
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ4">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ4" aria-expanded="false" aria-controls="collapseFAQ4">
                                    Q4. Comment recharger mon solde ?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ4" class="collapse" role="tabpanel" aria-labelledby="headingFAQ4" aria-expanded="false">
                            <div class="card-block">
                                Notez que pour recharger votre solde GreatLuck vous pouvez faire un dépôt sur notre compte Payeer et nous vous transferons les fonds sur le Payeer ayant envoyé le montant cela sur un délai maximum de 30 minutes. Où vous pouvez aussi recevoir un transfert d'un autre utilisateurs du système. Comme envoyer aussi à un autre utilisateur. Les frais de transfert sont de 1% du montant de transfert. Supporter par l'expéditeur. </div>
                        </div>
                    </div>
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ5">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ5" aria-expanded="false" aria-controls="collapseFAQ5">
                                    Q5. Facturez-vous des frais pour vos services?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ5" class="collapse" role="tabpanel" aria-labelledby="headingFAQ5" aria-expanded="false">
                            <div class="card-block">
                                Non, nous ne facturons aucuns frais pour nos services ou l'utilisation du site Web GreatLuck. Si ce ne sont les frais de transfert et de recharge </div>
                        </div>
                    </div>
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ6">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ6" aria-expanded="false" aria-controls="collapseFAQ6">
                                    Q6. Quels systèmes de paiement acceptez-vous?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ6" class="collapse" role="tabpanel" aria-labelledby="headingFAQ6" aria-expanded="false">
                            <div class="card-block">
                                Nous acceptons que Payeer. Pour le moment !</div>
                        </div>
                    </div>
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ7">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ7" aria-expanded="false" aria-controls="collapseFAQ7">
                                    Q7. Quand est ce que je recois mon paiement ?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ7" class="collapse" role="tabpanel" aria-labelledby="headingFAQ7" aria-expanded="false">
                            <div class="card-block">
                                Pour sécuriser les paiements un administrateur système contre les identifiants payeer et valide les paiements avant que cela ne soit fait. Donc entre 30 minutes après le dépouillement et 12h le paiement sera fait.</div>
                        </div>
                    </div>
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ8">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ8" aria-expanded="false" aria-controls="collapseFAQ8">
                                    Q8. Comment mon lien de parrainage me rapporte du profit ?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ8" class="collapse" role="tabpanel" aria-labelledby="headingFAQ8" aria-expanded="false">
                            <div class="card-block">
                                Chaque filleul vos rapports 2.5 points ! Chaque 1er du mois le montant de vos points convertis en dollars vous sera reversé sur votre payeer ! Montant minimum d'envoie 1 dollars ! Un filleul ne peut vous rapportez qu'une fois ! </div>
                        </div>
                    </div>
                    <div class="card m-b-0">
                        <div class="card-header" role="tab" id="headingFAQ9">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFAQs" href="#collapseFAQ9" aria-expanded="false" aria-controls="collapseFAQ9">
                                    Q9. Puis-je vous contacter?</a>
                            </h5>
                        </div>
                        <div id="collapseFAQ9" class="collapse" role="tabpanel" aria-labelledby="headingFAQ9" aria-expanded="false">
                            <div class="card-block">
                                Si vous avez des problèmes ou des questions supplémentaires, vous pouvez nous contacter par e-mail à great2020luck@gmail.com .</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {#<div id="contenu">#}

    {#</div>#}


{% endblock %}



{% block javascripts %}
    {{ parent() }}


    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
