{% extends ':visitor:template.html.twig' %}



{% block content %}



    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <h4>Mes Filleuls
                {#Mes Filleuls (Chaque filleuls vous rapports 10% de leurs gains comptabiliser et payer chaque#}
                {#semaine)#}
            </h4>
            <div class="row">
                <div class="" hidden><input value="{{ (lien_url ~ 'login/' ~ app.session.get('lienParrainage')) | trans }}" type="text" disabled id="lienparainnage" name="lienparainnage" class="form-control"></div>
                <input type="button" value="Copier Mon Lien de Parrainage" class="btn btn-primary js-copy" data-target="#lienparainnage">

            </div>
        </li>

    </ol>

    <ol class="breadcrumb" style="background-color: #cbd3da">
        <div class="card-body">


            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tablelistefilleul" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th class="">Filleuls</th>
                            <th>Depot</th>
                            <th>Gain</th>
                            <th>Mon Profit</th>
                        </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignefilleul">
                        {% for listeFilleul in listeFilleuls %}
                            <tr>
                                <td>
                                    {{ listeFilleul.idPayeer }}
                                </td>
                                <td></td>
                                <td></td>
                                <td>En attente</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Circle Buttons (Default) -->


        </div>
    </ol>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>

    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
