{% extends ':visitor:template.html.twig' %}



{% block content %}


    <ol class="breadcrumb" style="background-color: #cbd3da">
        <div class="card-body">


            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tablelistehistorique" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Type Opération</th>
                            <th>Date</th>
                            <th>Motif</th>
                            <th>Montant</th>
                        </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignehistorique">
                        {% for listeHistorique in listeHistoriques %}
                            <tr>
                                <td>
                                    {{ listeHistorique.typeOperation }}
                                </td>
                                <td>
                                    {{ listeHistorique.dateOperation|date("m/d/Y h:m:s") }}
                                </td>
                                <td>
                                    {{ listeHistorique.motifOperation }}
                                </td>
                                <td>{{ listeHistorique.montantOperation|number_format(2, ',', '.') }}  $</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Circle Buttons (Default) -->


        </div>
    </ol>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>

    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
