{% extends ':visitor:template.html.twig' %}



{% block content %}


    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5"> {{ montantDeposeClient[0].totalSum }} USD</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ path('tirage') }}">
                    <span class="float-left">Total Déposer</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-user"></i>
                    </div>
                    <div class="mr-5"> {{ montantRetireClient[0].totalSum }} USD</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ path('tirage') }}">
                    <span class="float-left">Total retirer</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
/*
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5"> 2</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Total Ticket</span>
                    <span class="float-right">
                </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5"> 3</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Total Ticket Gagnant</span>
                    <span class="float-right">
                </span>
                </a>
            </div>
        </div>
*/
    </div>


    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Liste de mes tirages
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablelistetirage" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="">N° Tirage</th>
                        <th>Cout tirage</th>
                        <th>Ticket Acheter</th>
                        <th>Ticket Gagnant</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignetirage">
                    {% for listeTirageNumeroTirerGagnant in listeTirageNumeroTirerGagnants %}
                        <tr>
                            <td>
                                #{{ listeTirageNumeroTirerGagnant.id }}
                            </td>
                            <td>{{ listeTirageNumeroTirerGagnant.coutTirage }}</td>
                            <td>
                                {% for listeTicketAcheter in listeTirageNumeroTirerGagnant.numeroTiragePayer %}

                                    {% if (listeTicketAcheter.numeroTicketPayerStatut is null) %}

                                        {#<a href="#" class="btn btn-primary btn-circle leticket"#}
                                        <a href="#" class="btn btn-danger btn-circle leticket"
                                           data-value="{{ listeTicketAcheter.numeroTicketPayer }}">
                                            {{ listeTicketAcheter.numeroTicketPayer }}
                                        </a>

                                    {% else %}

                                        {% if (listeTicketAcheter.numeroTicketPayerStatut == false) %}

                                            <a href="#" class="btn btn-danger btn-circle leticket"
                                               data-value="{{ listeTicketAcheter.numeroTicketPayer }}">
                                                {{ listeTicketAcheter.numeroTicketPayer }}
                                            </a>


                                        {% else %}

                                            {% if (listeTicketAcheter.numeroTicketPayerStatut == true) %}

                                                <a href="#" class="btn btn-success btn-circle leticket"
                                                   data-value="{{ listeTicketAcheter.numeroTicketPayer }}">
                                                    {{ listeTicketAcheter.numeroTicketPayer }}
                                                </a>

                                            {% endif %}
                                        {% endif %}

                                    {% endif %}





                                {% endfor %}
                            </td>
                            <td>

                                {% for listeTicketGagnant in listeTirageNumeroTirerGagnant.numeroTirageGagant %}

                                    <a href="#" class="btn btn-success btn-circle leticket"
                                       data-value="{{ listeTicketGagnant.numeroTicketGagnant }}">
                                        {{ listeTicketGagnant.numeroTicketGagnant }}
                                    </a>

                                {% endfor %}

                            </td>


                            <td> {{ listeTirageNumeroTirerGagnant.etatTirage }} </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>
    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
