{% extends ':visitor:template.html.twig' %}





{% block content %}


    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">Paiement automatique après 24h suite au tirage</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ path('tirage') }}">
                    <span class="float-left">Montant Minimum Ticket : 1 USD</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-user"></i>
                    </div>
                    <div class="mr-5">{{ nbrClient }}</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Total Investisseurs</span>
                    <span class="float-right">
                </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5"> {{ montantDepose[0].totalSum|number_format(2, ',', '.') }}  $</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Total Dollars Déposer</span>
                    <span class="float-right">
                </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">{{ montantRetire[0].totalSum|number_format(2, ',', '.') }}  $</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                    <span class="float-left">Total Dollars Payer</span>
                    <span class="float-right">
                </span>
                </a>
            </div>
        </div>

    </div>

    <br>

    <div class="row" id="payment-proofs">
        <div class="col-12">
            <div class="card">
                <div class="card-block p-b-0">
                    <h4 class="card-title">Dernieres Operations</h4>
                    <br>
                </div>

                <ul class="nav nav-tabs customtab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabRecentDeposits" role="tab">Recent Achat
                            de ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabLastPayouts" role="tab">Derniers Paiement</a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane p-20 active" id="tabRecentDeposits" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                </tr>
                                </tbody>
                                <thead>
                                <tr>
                                    <th>Date Heure</th>
                                    <th>Participant Id</th>
                                    <th>Montant</th>

                                </tr>
                                </thead>
                                <tbody>


                                {% for listeTop5MontantDepose in listesTop5MontantDepose %}
                                    <tr>
                                        <td>{{ listeTop5MontantDepose.dateOperation|date("m/d/Y h:m:s") }}</td>
                                        <td><img src="{{ asset('template/login/images/icons/payeer.png') }}" width="17"
                                                 data-toggle="tooltip" data-placement="left" title=""
                                                 data-original-title="">&nbsp;&nbsp;&nbsp;
                                            <span>

                            							<a href="#">{{ listeTop5MontantDepose.idPayeer | striptags | slice(0, 5) }}....</a>
														</span></td>
                                        <td>{{ listeTop5MontantDepose.montantOperation|number_format(2, ',', '.') }}  $</td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane p-20" id="tabLastPayouts" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Date Heure</th>
                                    <th>Participant Id</th>
                                    <th>Montant</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for listeTop5MontantRetire in listesTop5MontantRetire %}
                                    <tr>
                                        <td>{{ listeTop5MontantRetire.dateOperation|date("m/d/Y h:m:s") }}</td>
                                        <td><img src="{{ asset('template/login/images/icons/payeer.png') }}" width="17"
                                                 data-toggle="tooltip" data-placement="left" title=""
                                                 data-original-title="">&nbsp;&nbsp;&nbsp;
                                            <span>

                            							<a href="#">{{ listeTop5MontantRetire.idPayeer | striptags | slice(0, 5) }}....</a>
														</span></td>
                                        <td>{{ listeTop5MontantRetire.montantOperation|number_format(2, ',', '.') }}  $</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {#<div id="contenu">#}

    {#</div>#}


{% endblock %}



{% block javascripts %}
    {{ parent() }}


    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
