{% for listeTicketGagnant in listeTicketsGagnant %}
    <tr class="select-tirage-client" data-idtirageclient="{{ listeTicketGagnant.id }}">
        <td class="idPayeer col-md-4">{{ listeTicketGagnant.idPayeer }}</td>
        <td class="numeroTicketGagnant col-md-4">{{ listeTicketGagnant.numeroTicket }}</td>
        <td class="montantGagner col-md-5" style="text-align: center">{{ listeTicketGagnant.montantGagner }} $</td>
        <td class="payeer"  style="text-align: center">
            <a data-idtirageclient="{{ listeTicketGagnant.id }}" type="button"
               class="btn btn-warning btn_payer"
               ><i class="fa fa-flag"></i>
            </a>
        </td>
    </tr>
{% endfor %}