{% extends ':visitor:template.html.twig' %}


{% block content %}



    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <h4 id="ntirage" data-value="{{ tirage.id }}">Tirage N° {{ tirage.id }}, coût {{ tirage.coutTirage }} $
                de {{ tirage.nbrNumero }} ticket dont {{ nbrTicketDispo }} disponible || Sélectionner le ticket et
                cliquer sur payer pour l'acheter</h4>
        </li>

    </ol>

    <ol class="breadcrumb" style="background-color: #0b3e6f">
        <div class="card-body">
            <!-- Circle Buttons (Default) -->
            {% for ticket in listeTicketsTirage %}

                {% if (ticket.ticketAcheter == false) %}
                    <a href="#" class="btn btn-primary btn-circle leticket" data-value="{{ ticket.numeroTicket }}">
                        {{ ticket.numeroTicket }}
                    </a>


                {% else %}
                    <a href="#" class="btn btn-danger btn-circle leticket" data-value="{{ ticket.numeroTicket }}">
                        {{ ticket.numeroTicket }}
                    </a>

                {% endif %}



            {% endfor %}


        </div>
    </ol>


    {#<form method="post" action="https://payeer.com/merchant/">#}
        {#<input type="hidden" name="m_shop" value="1046859706">#}
        {#<input type="hidden" name="m_orderid" value="1">#}
        {#<input type="hidden" name="m_amount" value="1">#}
        {#<input type="hidden" name="m_curr" value="USD">#}
        {#<input type="hidden" name="m_desc" value="<? = $ m_desc?>">#}
        {#<input type="hidden" name="m_sign" value="<? = $ sign?>">#}
        {#<input type = "hidden" name = "form [ps]" value = "2609">#}
        {#<input type="hidden" name="form [curr [2609]]" value="USD">#}
        {#<input type = "hidden" name = "m_params" value = "<? = $ m_params?>">#}
        {#<input type="hidden" name="m_cipher_method" value="AES-256-CBC">#}
        {#<input type="submit" name="m_process" value="send"/>#}
    {#</form>#}

    <a href="" class="btn btn-success btn-icon-split" id="btn_paiement_solde">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
        <span class="text">Payer Via Mon Solde</span>
    </a>


    <a href="" class="btn btn-success btn-icon-split" id="btn_paiement_payeer" disabled>
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
        <span class="text" disabled>Payer Via Payeer</span>
    </a>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>

    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
