{% extends ':visitor:template.html.twig' %}


{% block content %}


    <form action="{{ path('recharge_new') }}" method="post">

        <div class="col-md-12">
            <label for="" style="font-size: 40px">Recharger le compte administrateur</label>
            <br>
            <div>

                <input class="form-control col-lg-4" name="montantrecharge" required="required" type="number"
                       placeholder="Montant a recharger">
                <br>

                <input class="form-control col-lg-4" name="pin" required="required" type="password"
                       placeholder="Saisir mdp pour confirmer">
                <br>

                <input class="btn btn-success" type="submit" value="Recharger"/>

            </div>
        </div>


    </form>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>

    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
