{% extends ':visitor:template.html.twig' %}



{% block content %}


    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Liste des tirages complets
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablelistetirage" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="">N° Tirage</th>
                        <th class="">Prix</th>
                        <th class="">Nbr Participant</th>
                        <th class="">Nbr Ticket Gagnant</th>
                        <th class="">Actions</th>
                    </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignetirage">
                    {% for tirages in listeTicketsEnAttentePaiement %}
                        <tr>
                            <td class="">#{{ tirages.id }}</td>
                            <td class="">{{ tirages.coutTirage }} $</td>
                            <td class="">1 - {{ tirages.nbrNumero}} </td>
                            <td class="">{{ tirages.nbrNumeroGagnant}} </td>
                            <td class="" style="text-align: center">

                                <a data-id="{{ tirages.id }}" type="button"
                                   class="btn btn-warning confirmationpayer"
                                   data-toggle="modal"
                                   data-target="#modal-payer"><i class="fa fa-edit"></i>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="modal-payer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Payer Gagnant </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tablelistetirage" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="">Id Payeer</th>
                                    <th class="">N° ticket gagnant</th>
                                    <th class="">Gain</th>
                                    <th class="" style="text-align: center">Confirmer Paiement</th>
                                </tr>
                                </thead>

                                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignegagnant">

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>

    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        var listeTicketGagnantAPayerUrl = "{{ path('ajax_liste_ticket_gagnant') }}";

        var payerUrl = "{{ path('ajax_payer_consultation') }}";

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
