{% extends ':visitor:template.html.twig' %}


{% block content %}


    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Liste des tirages en cours
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablelistetirage" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="" hidden>id</th>
                        <th class="">N° Tirage</th>
                        <th class="">Prix</th>
                        <th class="">Nbr Participant</th>
                        <th class="">Nbr Ticket Gagnant</th>
                        <th class="">Statut</th>
                        <th class="">Actions</th>
                    </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignetirage">
                    {% for tirages in listeTirages %}
                        <tr>
                            <td class="" hidden>{{ tirages.id }}</td>
                            <td class="">#{{ tirages.id }}</td>
                            <td class="">{{ tirages.coutTirage }} $</td>
                            <td class="">1 - {{ tirages.nbrNumero}} </td>
                            <td class="">{{ tirages.nbrNumeroGagnant}} </td>
                            <td class="">{{ tirages.etatTirage}} </td>
                            <td class="" style="text-align: center">
                                <a type="button" class="btn btn-primary"
                                   href="{{ path('souscrire_tirage', { 'id': tirages.id }) }}"> {{ tirages.coutTirage }} $ x2 <i
                                            class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/tirage/js/index.js') }}"></script>

    {#    #}{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}{#
        <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('template/chart/Chart.min.js') }}"></script>#}
    <script>

        // $(".accueil").addClass('active');


        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });


    </script>


{% endblock %}
