
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span><strong>Réalisé en 2020 <a href="#"> </a>.</strong>
    Tous droits réservés.</span>
        </div>
    </div>
</footer>