<!-- Sidebar user panel (optional) -->
{#<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{{ asset('template/dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="#" class="d-block">{{ app.session.get('nom') }}</a>
    </div>
</div>#}


<li class="nav-item active">
    <a class="nav-link bg-info" href="{{ path('homepage') }}">
        <i class="fas fa-fw fa-th"></i>
        <span>Accueil</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link bg-success" href="{{ path('tirage') }}">
        <i class="fas fa-fw fa-plus"></i>
        <span>Participer a un tirage</span>
    </a>
</li>

{% if app.session.get('idPayeer') == 'P1026189037' %}

    <li class="nav-item active">
        <a class="nav-link bg-transparent" href="{{ path('tirage_index') }}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Gestion des Tirages</span>
        </a>
    </li>


    <li class="nav-item active">
        <a class="nav-link bg-transparent" href="{{ path('notifier_gagnant') }}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Gestion des Paiements</span>
        </a>
    </li>


    <li class="nav-item active">
        <a class="nav-link bg-transparent" href="{{ path('recharge_new') }}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Recharger</span>
        </a>
    </li>

{% endif %}

<li class="nav-item active">
    <a class="nav-link bg-secondary" href="{{ path('tirage_my_index') }}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Point de mes tirages</span>
    </a>
</li>

<li class="nav-item active">
    <a class="nav-link bg-info" href="{{ path('transfert_new') }}">
        <i class="fas fa-fw fa-share"></i>
        <span>Transferer</span>
    </a>
</li>

<li class="nav-item active">
    <a class="nav-link bg-info" href="{{ path('filleuls') }}">
        <i class="fas fa-fw fa-network-wired"></i>
        <span>Mes filleuls</span>
    </a>
</li>

{#{% if app.session.get('idPayeer') == 'P1026189037' %}#}

    {#<li class="nav-item active">#}
        {#<a class="nav-link bg-transparent" href="{{ path('filleuls') }}">#}
            {#<i class="fas fa-fw fa-star"></i>#}
            {#<span>Collect de fonds pour achat crypto</span>#}
        {#</a>#}
    {#</li>#}

{#{% endif %}#}


<li class="nav-item active">
    <a class="nav-link bg-dark" href="{{ path('historiques') }}">
        <i class="fas fa-fw fa-book"></i>
        <span>Historiques</span>
    </a>
</li>

<li class="nav-item active">
    <a class="nav-link bg-dark" href="{{ path('faq') }}">
        <i class="fas fa-fw fa-pen"></i>
        <span>FaQs</span>
    </a>
</li>

<li class="nav-item active">
    <a class="nav-link bg-danger" href="{{ path('out') }}">
        <i class="fas fa-fw fa-sign-out-alt"></i>
        <span>Deconnexion</span>
    </a>
</li>
{#<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Login Screens:</h6>
        <a class="dropdown-item" href="login.html">Login</a>
        <a class="dropdown-item" href="register.html">Register</a>
        <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Other Pages:</h6>
        <a class="dropdown-item" href="404.html">404 Page</a>
        <a class="dropdown-item" href="blank.html">Blank Page</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
</li>#}

<!-- Sidebar Menu -->
{#<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="{{ path('homepage') }}" class="nav-link active">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Accueil
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link active" style="background-color: green">
                <i class="nav-icon fas fa-chart-area"></i>
                <p>
                    Point
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('out') }}" class="nav-link active" style="background-color: red">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Deconnexion
                </p>
            </a>
        </li>#}
        {#<li class="nav-item has-treeview menu-open">#}
            {#<a href="#" class="nav-link">#}
                {#<i class="nav-icon fas fa-tachometer-alt"></i>#}
                {#<p>#}
                    {#Dashboard#}
                    {#<i class="right fas fa-angle-left"></i>#}
                {#</p>#}
            {#</a>#}
            {#<ul class="nav nav-treeview">#}
                {#<li class="nav-item">#}
                    {#<a href="./index.html" class="nav-link active">#}
                        {#<i class="far fa-circle nav-icon"></i>#}
                        {#<p>Dashboard v1</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a href="./index2.html" class="nav-link">#}
                        {#<i class="far fa-circle nav-icon"></i>#}
                        {#<p>Dashboard v2</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a href="./index3.html" class="nav-link">#}
                        {#<i class="far fa-circle nav-icon"></i>#}
                        {#<p>Dashboard v3</p>#}
                    {#</a>#}
                {#</li>#}
            {#</ul>#}
        {#</li>#}
        {#<li class="nav-item">#}
            {#<a href="pages/widgets.html" class="nav-link">#}
                {#<i class="nav-icon fas fa-th"></i>#}
                {#<p>#}
                    {#Widgets#}
                    {#<span class="right badge badge-danger">New</span>#}
                {#</p>#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
{#</nav>#}
<!-- /.sidebar-menu -->